/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
body {
    background-color: #203953  !important; /* Color azul oscuro de fondo     https://i.ibb.co/Ttw82wc/fondo-Pantalla.jpg                                 */
    background-image:  url("https://img.freepik.com/foto-gratis/marco-plano-laico-mariscos-espacio-copia_23-2148308063.jpg?t=st=1737653839~exp=1737657439~hmac=aabc7f44517fa3bb05266cae156751e33acb1db6693943b30f7bb1e71073013d&w=996" );
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Fija la imagen para que no se mueva al hacer scroll */
  }
  
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
   /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #203953;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #203953;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #203953;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #203953;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  /* boton rojo de delete */

  .button3 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ff7575;;
    border: 1px solid #e8e8e8;
   /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .button3:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button3:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button3:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #532020;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button3:hover {
    color: #ffffff;
    border: 1px solid #532020;
  }
  
  .button3:hover:before {
    top: -35%;
    background-color: #532020;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button3:hover:after {
    top: -45%;
    background-color: #532020;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

   /* boton mas claro que estan sobre el color de fondo de la web*/

   .button4 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
   /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .button4:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button4:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button4:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #7297B4;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button4:hover {
    color: #ffffff;
    border: 1px solid #7297B4;
  }
  
  .button4:hover:before {
    top: -35%;
    background-color: #7297B4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button4:hover:after {
    top: -45%;
    background-color: #7297B4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  #menus-creados{
    background-color: #7d9bbb;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.card-menusView{
    height: 200px;
    place-items: center;
    place-self: center;
    background-color: #F4F0D1;
    border-radius: 20px;
}

.button1{
    display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #c9c6c6;
  border: 1px solid rgba(0, 0, 0, 0.301);
}

.button1:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button1:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button1:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #203953;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button1:hover {
    color: #ffffff;
    border: 1px solid #203953;
  }
  
  .button1:hover:before {
    top: -35%;
    background-color: #203953;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button1:hover:after {
    top: -45%;
    background-color: #203953;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  /* MENUSVIEW */

  .menuCreate{
    background-color: #7297B4;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #aec5ff;
    box-shadow: 0px 0px 10px 1px #cbeaff65;
  }

  .menusViewCard{
    background-color: #677a9c;
    border-radius: 20px;
  }

  .cardTitleMenusView {
    cursor: pointer;
    text-underline-offset: none;
    text-decoration: none;
  }