/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.form-control {
  background-color: #F4F0D1;
}

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.cardTitleMenusView {
  text-underline-offset: none;
  text-decoration: none;
}



/*--------------------------------------------------------------------------*/

.contView {
  background-color: #203953a1;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.menu-grid {
  justify-content: center;
  display: flex;

}

.menu-grid .card {
  background-color: #7297B4;
  /* Color del fondo */
  color: #F4F0D1;
  /* Color del texto */
  border: none;
  /* Sin bordes */
  border-radius: 12px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
  transition: transform 0.3s ease;
  justify-content: center;
}

.menu-grid .card:hover {
  transform: scale(1.05);
  /* Efecto de zoom al pasar el mouse */
}

.menu-grid .card img {
  border-radius: 12px 12px 0 0;
  /* Imagen con bordes superiores redondeados */
  height: 150px;
  object-fit: cover;
  /* Asegura que la imagen no se deforme */
}